<header class="bg-gradient-to-r from-red-500 via-green-500 to-blue-800 text-white shadow-md">  <div class="container mx-auto flex justify-between items-center p-4">
    <h1 class="text-lg font-bold">SpyLook</h1>
    <nav>
      <ul class="flex space-x-6">
<li><a href="#features" class="hover:underline hover:text-lg">Características</a></li>
<li><a href="#testimonials" class="hover:underline hover:text-lg">Testimonios</a></li>
<li><a href="#footer" class="hover:underline hover:text-lg">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
