<header class="bg-gradient-to-r from-red-500 via-green-500 to-blue-800 text-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">
    <h1 class="text-lg font-bold "><a class="hover:underline hover:text-lg clickable" href="https://github.com/cdominguezh06/spylook">SpyLook</a></h1>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="#features" class="hover:underline hover:text-lg clickable">Características</a></li>
        <li><a href="#https://github.com/cdominguezh06" class="hover:underline hover:text-lg clickable">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
