<section class="bg-black text-center py-32">
  <div class="container mx-auto">
    <h1 class="text-6xl font-bold mb-10 gradient-animated">Prueba ya SpyLook</h1>
    <p class="text-2xl text-gray-300 mb-4 rainbow-text">
      La app número 1 para apuntar información de todo tipo sobre la gente de tu entorno
    </p>
    <p class="text-lg text-gray-400 mb-12">
      Ni siquiera tus enemigos se van a librar 👀
    </p>
    <a href="#download"
       class="gradient-button text-white px-8 py-4 rounded-lg shadow text-xl clickable">
      Descargar Ahora
    </a>
  </div>
</section>
