.gradient-border {
  position: relative;
  border-radius: 10px;
  border: double 3px transparent;
  background-image: linear-gradient(black,black), linear-gradient(to right, red, yellow);
  background-origin: border-box;
  background-clip: content-box, padding-box;
  padding: 3px;
}
.text {
  margin: 15px;
}
.gradient-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  animation: gradient-move 3s infinite;
  z-index: -1;
}

.gradient-border:hover::before {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 400% 400%;
  animation: gradient-move 3s infinite;
}


@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
