<section id="features" class="py-40 bg-black text-white relative">
  <div class="container mx-auto text-right flex flex-wrap">
    <div class="sticky top-10.5 left-0 w-1/2 h-[90vh] flex justify-center items-center">
      <img ngSrc="{{selected}}" alt="Teléfono" class="w-6/8 h-auto object-contain stickyimg" height="2513"
           width="1187"/>
    </div>
    <div class="w-1/2 ml-auto">
      <h2 class="text-3xl font-bold mb-10">Características</h2>
      <div class="grid grid-cols-1 gap-8">
        <div class="p-6 shadow-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_newcontact.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">Agrega nuevos contactos</h3>
            <p class="text-gray-400 text-justify">Guarda información básica como fecha de nacimiento, localidad, estado
              y
              pais de un contacto de la agenda</p>
            <br>
            <div class="bg-gray-800 text-white p-4 rounded-lg shadow-md text-left">
              <code class="text-sm" style="font-family: 'JetBrains Mono ExtraLight',monospace">
                val nombre = editTextNombre!!.getText().toString()<br>
                val nick = editTextNick!!.getText().toString()<br>
                val cumpleanos = LocalDate.parse(<br>
                &nbsp;&nbsp;editTextCumpleanos!!.getText().toString(),<br>
                &nbsp;&nbsp;DateTimeFormatter.ofPattern("dd/MM/yyyy")<br>
                ).toString()<br>
                val ciudad = editTextCiudad!!.getText().toString()<br>
                val estado = editTextEstado!!.getText().toString()<br>
                val pais = editTextPais!!.getText().toString()<br>
              </code>
            </div>
            <br>
            <p class="text-gray-400 text-justify">Todos los datos de la agenda son almacenados en una base de datos
              local SQLite,
              bajo
              la capa de abstracción de Android Room</p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_newnote.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">Añade anotaciones</h3>
            <p class="text-gray-400 text-justify">La base de datos local de la agenda está diseñada para admitir
              infinitas
              anotaciones
              personalizadas de cada contacto.</p>
            <br>
            <div class="bg-gray-800 text-white p-4 rounded-lg shadow-md text-left">
              <code class="text-sm" style="font-family: 'JetBrains Mono ExtraLight',monospace">
                &nbsp;&nbsp;override fun onBindViewHolder(holder: CardViewHolder, position: Int) &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val cardItem = cardItemList[position]<br>
                &nbsp;&nbsp;&nbsp;&nbsp;holder.titulo.text = cardItem.titulo<br>
                &nbsp;&nbsp;&nbsp;&nbsp;holder.fecha.text = cardItem.fecha<br>
                &nbsp;&nbsp;&nbsp;&nbsp;holder.itemView.setOnClickListener(View.OnClickListener &#123; l: View? -><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (position == 0) &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;writeNewAnotacion()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125; else &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;visualizeAnotacion(position)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&#125;)<br>
                &nbsp;&nbsp;&#125;<br>
              </code>
            </div>
            <br>
            <p class="text-gray-400 text-justify"> Estas anotaciones constan de título, descripción y fecha de
              creación</p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_search.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">Filtra los contactos</h3>
            <p class="text-gray-400 text-justify">El menú principal de la agenda cuenta con un potente buscador en
              tiempo real que te
              permite filtrar de forma rápida y visual los contactos por sus apodos</p>
            <br>
            <div class="bg-gray-800 text-white p-4 rounded-lg shadow-md text-left">
              <code class="text-sm" style="font-family: 'JetBrains Mono ExtraLight',monospace">
                &nbsp;&nbsp;runBlocking &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val contactos: List&lt;Contacto?&gt;? =<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db.contactoDAO()!!.getContactos();<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val collect = contactos!!.stream()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.filter &#123; i: Contacto? -><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i!!.alias!!.lowercase(Locale.getDefault()).contains(busqueda)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.map &#123; contacto -> mapper.toCardItem(contacto) &#125;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.collect(Collectors.toList())<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val mutableCollect = collect.toMutableList()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;if (mutableCollect.isEmpty()) &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mutableCollect.add(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ContactoCardItem(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-1,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Sin resultados",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;false<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
                &#125;<br>
              </code>
            </div>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_newsuceso.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">Añade sucesos...</h3>
            <p class="text-gray-400 text-justify">Para anotar en la agenda cualquier cosa que ciertas personas
              indeseables te hayan
              hecho</p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_suceso.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">...y asócialos a las personas culpables</h3>
            <p class="text-gray-400 text-justify">Para dejar constancia de quién fue el cabecilla y quienes ayudaron</p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_newgroup.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">Crea grupos y rellénalos de contactos</h3>
            <p class="text-gray-400 text-justify">Para agrupar rápidamente un conjunto de contactos y sucesos de tu
              agenda bajo un
              mismo paragüas</p>
            <div class="bg-gray-800 text-white p-4 rounded-lg shadow-md text-left">
              <code class="text-sm" style="font-family: 'JetBrains Mono ExtraLight',monospace">
                &nbsp;&nbsp;lifecycleScope.launch &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val grupoId = db?.grupoDAO()?.addGrupoWithAnotable(nuevoGrupo)?.toInt()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val relaciones = miembros<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.filter &#123; it.idAnotable != -1 &#125;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.map &#123; miembro -><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ContactoGrupoCrossRef(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;idGrupo = grupoId,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;idContacto = miembro.idAnotable<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;db?.grupoDAO()?.insertarRelaciones(relaciones)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;creador = mutableListOf()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;miembros = mutableListOf()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;finish()<br>
                &nbsp;&nbsp;&#125;<br>
              </code>
            </div>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border"
             (mouseenter)="this.selected = 'assets/phone/phone_friends.webp'">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">¿Quién se llevaba con quién? ¡Apúntalo y no te
              olvides!</h3>
            <p class="text-gray-400 text-justify">Con pulsar unos pocos botones podrás recordar las relaciones entre tus
              contactos, porque aquí nadie quiere muy cerca a gente que se relacione con indeseables, ¿verdad?</p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-lg bg-gray-800 text-right gradient-border">
          <div class="text">
            <h3 class="text-xl font-semibold mb-2 rainbow-text">Rendimiento excelente con multihilo</h3>
            <p class="text-gray-400 text-justify">Gracias a las corrutinas de Kotlin, la agenda Spylook puede entregar
              una
              velocidad
              sin igual en la carga de datos.</p>
            <p class="text-gray-400 text-justify"> Esto se debe al uso de hilos virtuales,
              una tendencia en auge que permite crear una gran cantidad de hilos "falsos" separados de los hilos de la
              CPU, permitiendo cambios de contexto más rápidos y facilitando operaciones de I/O</p>
            <br>
            <div class="bg-gray-800 text-white p-4 rounded-lg shadow-md text-left">
              <code class="text-sm" style="font-family: 'JetBrains Mono ExtraLight',monospace">
                &nbsp;&nbsp;nextButton.setOnClickListener &#123; l: View? -><br>
                &nbsp;&nbsp;&nbsp;&nbsp;l?.performHapticFeedback(HapticFeedbackConstants.KEYBOARD_TAP)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;val contact = createContactFromInput()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;lifecycleScope.launch &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;database = AppDatabase.getInstance(this&#64;NuevoContactoActivity)!!<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;database.contactoDAO()!!.findContactoByName(contact.nombre)?.let
                &#123;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AlertDialog.Builder(this&#64;NuevoContactoActivity)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.setTitle("Error al crear el contacto")<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.setMessage("Ya existe un contacto con ese
                nombre")<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.show()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&#64;launch<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;database.contactoDAO()!!.addContactoWithAnotable(contact)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finish()<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
                &nbsp;&nbsp;&#125;<br>
              </code>
            </div>
            <br>
            <p class="text-gray-400 text-justify">Todas las consultas a la base de datos local se realizan en segundo
              plano con estos hilos virtuales, dejando el hilo principal encargado de la UI de tu agenda libre de
              posibles bloqueos
              e interrupciones de la experiencia de usuario</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
