<!-- timeline.component.html -->
<section id="timeline" class="py-40 bg-black  relative">

  <div class="flex flex-col max-w-6xl mx-auto px-4 py-8">
    <div class="relative border-l-2 border-gray-600">
      <div class="absolute w-4 h-4 bg-blue-500 rounded-full -left-2 top-6 border-2 border-gray-600"></div>
      <h2 class="text-2xl font-bold mb-6 ml-8 gradient-animated">Versiones antiguas</h2>
      <div *ngFor="let releaseObject of releases"
           class="mb-10 ml-6 flex flex-col bg-black rounded-lg shadow-lg p-6 gradient-border" #gradientBorder>
        <div class="text">
          <div class="flex justify-between items-center">
            <h3 class="text-xl font-semibold rainbow-text">{{ releaseObject.release.name }}</h3>
            <button
              class="bg-gray-600 px-2 py-1 rounded hover:bg-gray-700 focus:outline-none"
              (click)="releaseObject.hidden = !releaseObject.hidden"
            >
              {{ releaseObject.hidden ? '+' : '-' }}
            </button>
          </div>
          <p class="text-sm rainbow-text">{{ releaseObject.release.published_at | date }}</p>
          <div
            class="overflow-hidden transition-[max-height] duration-300 ease-in-out"
            [ngClass]="{'max-h-0': releaseObject.hidden, 'max-h-[500px]': !releaseObject.hidden}"
          >
            <markdown [data]="releaseObject.release.body | replaceTags" >
            </markdown>
            <a
              [href]="releaseObject.release.html_url"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4 text-blue-400 hover:underline clickable"
            >
              Ver en GitHub
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


