<section id="download" class="py-40 bg-black text-white relative">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-10 gradient-animated">¡Descarga ya nuestra app de agenda para Android!</h2>
    <div class="p-6 shadow-lg bg-gray-800 text-right gradient-border" #gradientBorder>
      <div class="text">
      <h3 class="text-xl font-semibold rainbow-text">Último release: {{releaseVersion}}</h3>
        <p class="text-gray-400 text-justify">
          <markdown [data]="releaseNotes | replaceTags "></markdown>
      </div>
    </div>
    <br>
    <a [href]="downloadUrl">
      <img class="clickable" ngSrc="assets/available_on_github.png" alt="Descargar" height="100" width="300"/>
    </a>
  </div>
</section>
