@import "tailwindcss";
body{
  font-family: 'JetBrains Mono', monospace;
  background-color: #1e1e1e;
  color: #dcdcdc;
  cursor: url('/cursor.png'), pointer;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/JetBrainsMono-Medium.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}
